footer {
  color: white;
  border-top: dashed .03rem white;
  margin: 20px auto 15px;
  padding-top: 10px;
  text-align: right;
  margin-bottom: 20px;
  font-size: .9rem;
}

span>a {
  text-decoration: none;
  color: #55ffc5;
}

span>a:hover {
  background-color: #55ffc5;
  color: black;
}

.blinking-cursor {
  margin-left: -5;
  font-size: .83rem;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #55ffc5;

  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #55ffc5;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #55ffc5;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #55ffc5;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #55ffc5;
  }
}

@media screen and (max-width: 765px) {
  footer {
    font-size: .8rem;
  }
}
