<app-navbar></app-navbar>

<img class="about" src="https://avatars.githubusercontent.com/u/12685802?v=4">
<p class="about-text">
  A person who never loses his motivation, self-learner, hard-worker.
  I spend most of my time <span class="special-color-about-me">web application development, web application security</span> and
  <span class="special-color-about-me">network security researching</span>.
  I also into <span class="special-color-about-me">Python</span>,
  <span class="special-color-about-me">Javascript</span>,
  <span class="special-color-about-me">Bash Scripting</span>,
  <span class="special-color-about-me">Angular</span>,
  <span class="special-color-about-me">PHP</span>,
  <span class="special-color-about-me">Java</span> and
  <span class="special-color-about-me">C</span>.
  If you want to contact me, use the
  <a class="special-color-about-me" routerLink="/contact-me">/contact-me</a> page.
</p>

<app-footer></app-footer>
