img.about {
  width: 25%;
  border: .03rem dashed rgba(219, 219, 219, 0.9);
  border-radius: 7px;
  padding: .6rem;
  display: block;
  margin: 1.5rem auto;
}

p.about-text{
  text-align:justify;
  font-size: .9rem;
}

span.special-color-about-me{
  color:#55ffc5;
}

a.special-color-about-me {
  text-decoration: none;
  color: #55ffc5;
}

a.special-color-about-me:hover {
  background-color: #55ffc5;
  color: black;
}

@media screen and (max-width: 766px) {
  img.about{
    width: 70%;
  }
  p.about-text{
    font-size: .7rem;
    line-height: .8rem;
  }
}

@media screen and (min-width: 765px) and (max-width: 1024px) {
  img.about{
    width: 30%;
  }
  p.about-text{
    font-size: .9rem;
    line-height: 1rem;
  }
}
