.menu {
  border-top: dashed .03rem white;
  border-bottom: dashed .03rem white;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  background-color: #55ffc5;
  color: black;
}

@media screen and (min-width: 1024px) {
  .menu {
    font-size: 1vw;
  }

  .menu ul {
    margin-top: .5rem;
    text-align: right;
  }

  .menu ul li {
    display: inline;
    margin-left: .8rem;
    margin-right: .8rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .menu {
    font-size: 1.5vw;
  }

  .menu ul {
    margin-top: .5rem;
    padding-left: 0;
    text-align: center;
  }

  .menu ul li {
    display: inline;
    margin-left: .8rem;
    margin-right: .8rem;
  }

}

@media screen and (min-width: 425px) and (max-width: 700px) {
  .menu {
    font-size: 3vw;
  }

  .menu ul {
    padding-left: 0rem;
    margin-bottom: .5rem;
  }

  .menu ul li {
    text-align: center;
    margin-top: .5rem;
    display: block;
  }

}

@media screen and (max-width: 426px) {
  .menu {
    margin-top: .4rem;
    font-size: 4vw;
  }

  .menu ul {
    padding-left: 0rem;
    margin-bottom: 0rem;
  }

  .menu ul li {
    text-align: center;
    display: block;
  }
}
