.menu {
  border-top: dashed .03rem white;
  border-bottom: dashed .03rem white;
  margin-top: .3rem;
}

.menu ul {
  margin: .5rem auto;
  padding-left: 0;
  text-align: right;
}

.menu ul li {
  display: inline;
  margin-left: .8rem;
  margin-right: .8rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  background-color: #55ffc5;
  color: black;
}

@media screen and (min-width: 1024px) {
  .menu {
    font-size: .94rem;
  }

}

@media screen and (min-width: 765px) and (max-width: 1024px) {
  .menu {
    margin: .5rem auto;
    font-size: .85rem;
  }

}

@media screen and (min-width: 425px) and (max-width: 765px) {
  .menu {
    font-size: .85rem;
  }

  .menu ul {
    padding-left: 0rem;
    margin-bottom: .5rem;
  }

  .menu ul li {
    text-align: center;
    margin-top: .5rem;
    display: block;
  }

}

@media screen and (max-width: 426px) {
  .menu {
    font-size: .85rem;
    line-height: 1rem;
  }

  .menu ul {
    padding-left: 0rem;
    margin-bottom: .5rem;
  }

  .menu ul li {
    text-align: center;
    display: block;
  }
}
