img.contact-me-img {
  width: 25%;
  border: .03rem dashed rgba(219, 219, 219, 0.9);
  border-radius: 7px;
  padding: .6rem;
  display: block;
  margin: 1.5rem auto .5rem auto;
}

p.contact-me-text{
  text-align: center;
  line-height: 1.6rem;
}

p.contact-me-text>a {
  text-decoration: none;
  color: #55ffc5;
}

p.contact-me-text>a:hover {
  background-color: #55ffc5;
  color: black;
}



@media screen and (max-width: 1024px) {
  p.contact-me-text {
    font-size: .7rem;
  }
}
@media screen and (max-width: 766px) {
  img.contact-me-img{
    width: 70%;
  }
}
