* {
  font-size: .9rem;
}

.posts {
  margin-top: .1rem;
}

h2 {
  margin: .8rem 0rem .2rem 0rem;
  font-weight: bold;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul>li:before {
  content: "::";
  margin-right: 5px;
}

a {
  color: #55ffc5;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: #55ffc5;
}



@media screen and (min-width: 765px) and (max-width: 1024px) {
  * {
    font-size: .85rem;
    line-height: 1rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: .3rem;
  }


}

@media screen and (min-width: 425px) and (max-width: 765px) {
  * {
    font-size: .75rem;
    line-height: .85rem;
  }
  h2 {
    font-size: 1.1rem;
    margin-bottom: .45rem;
  }
}

@media screen and (max-width: 426px) {
  * {
    font-size: .7rem;
    line-height: .8rem;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: .4rem;
  }
}
