@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url("https://fonts.googleapis.com/css?family=Expletus+Sans");

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  width: 90%;
  max-width: 60%;
  line-height: 1.8em;
  font-size:1vw;
  color: white;
}

@media screen and (max-width: 426px) {
  body {
    font-size:4vw;
  }
}
